/* BUTTON UNIVERSAL SYLES */

.doge-body {
	margin:20px;
	background:#F2EDE0;
	text-align:center;
}

.dogebutton{
	margin:20 auto;
}


.button-wrapper {
    cursor:hand;
	clear: both;
}

.button-wrapper a {
	color: #FFFFFF;
	text-decoration: none;
}

.button-wrapper span {
	color: #FFFFFF;
	cursor:hand;
}

.clicky{
    display:inline-block;
    height:60px;
	width: 270px;
    cursor:hand;
    
}


.a-btn
{
    background:#d22cdc;
    
   
    height:70px;
	width: 280px;
    display:inline-block;
    position:relative;
    border:1px solid #80ab5d;
    
    border-radius:4px;
    float:left;
    clear:both;
    overflow:hidden;
}

.a-btn img
{
    position:absolute;
    left:15px;
    top:-6px;
    border:none;
}

.a-btn-text
{
    padding-top:5px;
	padding-left:5px;
    display:block;
    font-size:20px;
}

.a-btn-icon-right
{
    font-size:10px;
	position:absolute;
    right:3px;
    top:50px;
	text-decoration:underline;
}

.a-btn-text1 {
    position:absolute;
    left:110px;
    top:0px;
	line-height:1;
}
.a-btn-text2 {
    position:absolute;
    left:170px;
    top:30px;
	line-height:1;
}
.a-btn-text3 {
    position:absolute;
    left:80px;
    top:40px;
	line-height:1;
}

