html( ng-app="dogeButtonApp" )
	link( rel="stylesheet", href="css/index.css" )
	script( type="text/javascript", src="bower_components/angular/angular.min.js" )
	script( type="text/javascript", src="js/dogeButton.js" )
	body( ng-controller="DogeIndexController" )
		h1 Doge Button So Tappings
		doge-embed( username="username" )
		#customizer-section
			form
				label( for="twitter" ) Twitter Username
				input( type="text", name="twitter", ng-model="username" )
			hr
			textarea( rows="10", style="width:600px;", ng-model="widgetCode.innerHTML" )
