html( ng-app="dogeButtonApp" )
	link( rel="stylesheet", href="css/index.css" )
	link(rel="icon" type="image/png" href="images/dogebutton_icon_glasses_64.png")
	script( type="text/javascript", src="bower_components/angular/angular.min.js" )
	script( type="text/javascript", src="js/dogeButton.js" )
	body.doge-body( ng-controller="DogeIndexController" )
		h1 Doge Button So Tappings
		h3 Click button to give us Doge v thanks
		doge-embed( username="username" )
		hr
		h3 Amaze. Get your own Doge button. So currency.
		#customizer-section
			form
				label( for="twitter" ) Twitter Username: 
				input( placeholder="@dogebutton" type="text", name="twitter", ng-model="username", at-prefix )
			textarea( rows="5", style="width:600px;", ng-model="widgetCode.innerHTML" )
		h3 Made by 
			a( href="http://www.tapraise.com") TapRaise 
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-47897486-3', 'dogebutton.biz');
			ga('send', 'pageview');