html( ng-app="dogeButtonApp" )
	link( rel="stylesheet", href="css/index.css" )
	script( type="text/javascript", src="bower_components/angular/angular.min.js" )
	script( type="text/javascript", src="js/dogeButton.js" )
	body( ng-controller="DogeController" )
		h1 Doge Button So Tappings
		doge-button( username="lilhinx", texts="[ 'such', 'wow' ]" )
		#customizer-section
			form
				label( for="twitter" ) Twitter Username
				input( type="text", name="twitter" )
			hr
			textarea( ng-model="widgetCode.innerHTML" )
